{% extends "plantilla.html" %}
{% block contenido %}

<div class="row mt-4">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light p-4 rounded shadow">
        <h1 class="text-center mb-4">Editar Perro Detector</h1>

        <form action="{% url 'procesarEdicionTienda' perro.id %}" method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="nombre" value="{{ perro.nombre }}" required>
            </div>

            <div class="mb-3">
                <label for="raza" class="form-label">Direccion</label>
                <input type="text" class="form-control" name="direccion" id="direccion" value="{{ perro.direccion }}" required>
            </div>

            <div class="mb-3">
                <label for="edad" class="form-label">Telefono</label>
                <input type="number" class="form-control" name="telefono" id="telefono" value="{{ perro.telefono }}" required>
            </div>

            <div class="mb-3">
                <label for="edad" class="form-label">Email</label>
                <input type="text" class="form-control" name="email" id="email" value="{{ perro.email }}" required>
            </div>

            <div class="mb-3">
                <label for="edad" class="form-label">Fecha</label>
                <input type="date" class="form-control" name="fecha" id="fecha" value="{{ perro.fecha }}" required>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                <a href="{% url 'indexTienda' %}" class="btn btn-outline-danger me-md-2">Cancelar <i class="fa fa-times"></i></a>
                <button type="submit" class="btn btn-outline-primary">Actualizar Perro <i class="fa-solid fa-pen-to-square"></i></button>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock contenido %}

